.information-info-dropdown,
.information-skill-dropdown {
  margin-top: 20px;

}

.ant-table-wrapper .ant-table-container table>thead>tr:first-child>*:first-child {
  border-start-start-radius: 0px;
}

.ant-table-wrapper .ant-table-container table>thead>tr:first-child>*:last-child {
  border-start-end-radius: 0px;
}

.ant-table-cell {
  text-align: start;
}

.confirm-cover {
  padding: 30px;
  height: 100%;
  padding-bottom: 70px;
}

.confirm-cover .confirm-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.information-info-dropdown-header {
  background-color: rgba(244, 244, 246, 1);
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s;
  cursor: pointer;
}

.information-skill-dropdown-header {
  background-color: rgba(244, 244, 246, 1);
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s;
  cursor: pointer;
  margin-top: 18px;
}

.information-info-dropdown-header.active,
.information-skill-dropdown-header.active {
  border-radius: 10px 10px 0 0;
}

.information-info-dropdown-body {
  width: 100%;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.15);
  background-color: white;
  border-radius: 0 0 10px 10px;
  padding: 15px 20px;
  max-height: 500px;
  overflow-y: auto;
}

.information-skill-dropdown-body {
  width: 100%;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.15);
  background-color: white;
  border-radius: 0 0 10px 10px;
  padding: 15px 20px;
  max-height: 500px;
  overflow-y: auto;
}

.information-info-table {
  border-collapse: collapse;
  width: 100%;

  tr {
    td {
      border: 1px solid rgba(232, 232, 232, 1);
      padding: 10px;
      text-align: left;
    }
  }
}


.information-form-tile {
  width: 15%;
  background-color: #fafafa;
  font-weight: bold;
  font-size: 13px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #c7c7c7;
}

.information-edit-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.ant-btn-primary {
  background-color: #5750DF;
  border: none;
  border-radius: 50px;
  font-size: 14px;
  padding: 8px 24px;
  color: white;
  margin-bottom: 0px;
}

.ant-btn-primary:hover {
  background-color: #4c4ab7;
}

.information-dropdown-button {
  background-color: rgba(244, 244, 246, 1);
  border: none;
  color: black;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  max-width: 250px;
  transition: background-color 0.3s ease;
  padding-top: 15px;
}

.info-dropdown {
  width: 100%;
  margin-bottom: 15px;
}

.info-dropdown-header {
  background-color: rgba(244, 244, 246, 1);
  font-weight: 600;
  font-size: 16px;
  border: none;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s;
}

.info-dropdown-header.active {
  border-radius: 10px 10px 0 0;
}

.info-dropdown-body {
  width: 100%;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
  border: none;
  background-color: white;
  border-radius: 0 0 10px 10px;
  max-height: 500px;
  padding: 15px 20px;
}

.info-table {
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 1px solid rgba(232, 232, 232, 1);
  text-align: left;
  padding: 5px;
  height: 20px;
  font-weight: 500;
}