.good-feedback-table .ant-table-thead > tr > th {
  background-color: rgb(130, 130, 249);
  color: black;
  font-weight: bold;
  border-color: blue !important;
}

.good-feedback-table .ant-table {
  border-color: blue !important; 
}

