/* From Uiverse.io by gharsh11032000 */
.report-animated-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 4px;
  padding: 16px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: white;
  border-radius: 100px;
  font-weight: 600;
  color: #345dc7;
  -webkit-box-shadow: 0 0 0 2px #345dc7;
  box-shadow: 0 0 0 2px #345dc7;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 101;
}

.report-animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #345dc7;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.report-animated-button .text {
  position: relative;
  z-index: 101;
  -webkit-transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.report-animated-button .text:hover {
  color: white;
}

.report-animated-button:hover {
  -webkit-box-shadow: 0 0 0 12px transparent;
  box-shadow: 0 0 0 12px transparent;
  color: #3a3232;
  border-radius: 30px;
}

.report-animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}
